<div class="modal-header event-modal">
  <h3 class="modal-title" title="{{event.topic}}">{{event.topicDisplayName}}</h3>
</div>
<div class="modal-body event-modal">
  <div class="event-timestamp">
    <strong>Timestamp: </strong>
    <span>{{ event.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</span>
  </div>
  <div class="alert alert-info" role="alert" ng-hide="event.cells.length">
    No cells to display.
  </div>
  <table class="table table-striped" ng-show="event.cells.length">
    <tbody>
      <tr>
        <th class="cell-title">Cell</th>
        <th class="cell-value">Value</th>
      </tr>
      <tr ng-repeat="item in event.cells">
        <td class="cell-title" title="{{item.cell}}">{{ item.cellDisplayName }}</td>
        <td class="cell-value">{{ item.value | ctfloat : 4 }}</td>
      </tr>
    </tbody>
  </table>
</div>
