<div>
  <div class="topic-filter">
    <div class="btn-toolbar">
      <button ng-repeat="topic in topics" type="button" class="btn btn-default" ng-model="topic.enabled" btn-checkbox>
        {{topic.displayName}}
      </button>
    </div>
  </div>
  <div class="alert alert-info" role="alert" ng-hide="events.length">
    No events to display.
  </div>
  <table class="table table-striped log" ng-show="events.length">
    <thead>
      <tr>
        <th class="cell-timestamp">Timestamp</th>
        <th class="cell-event">Event</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in events">
        <td class="cell-timestamp">{{event.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td class="cell-event">
          <a href="" ng-click="event.showDetails()">
            {{event.topic.displayName}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
