<div>
  <div class="topic-filter">
    <div ng-repeat="topic in topics">
      <label><input type="checkbox" name="enabled" ng-model="topic.enabled">{{topic.displayName}}</label>
    </div>
  </div>
  <div>{{activeTopics()}}</div>
  <table class="table table-striped log">
    <tbody>
      <tr>
        <th class="cell-timestamp">Timestamp</th>
        <th class="cell-event">Event</th>
      </tr>
      <tr ng-repeat="event in events">
        <td class="cell-timestamp">{{event.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td class="cell-event">{{event.topic.displayName}}</td>
      </tr>
    </tbody>
  </table>
  <!--
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>Event</th>
        <th>Cell</th>
        <th>Count</th>
        <th>Value</th>
        <th>Timestamp</th>
      </tr>
      <tr ng-repeat="item in data">
        <td title="{{item.topic}}">{{ item.topicDisplayName }}</td>
        <td title="{{item.cell}}">{{ item.cellDisplayName }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item.value }}</td>
        <td>{{ item.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
  -->
</div>
