<div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th class="cell-topic-title">Event</th>
        <th class="cell-title">Cell</th>
        <th class="cell-count">Count</th>
        <th class="cell-value">Value</th>
        <th class="cell-timestamp">Timestamp</th>
      </tr>
      <tr ng-repeat="item in data">
        <td class="cell-topic-title" title="{{item.topic}}">{{ item.topicDisplayName }}</td>
        <td class="cell-title" title="{{item.cell}}">
          <a href="" ng-click="item.showDetails()">
            {{ item.cellDisplayName }}
          </a>
        </td>
        <td class="cell-count">{{ item.count }}</td>
        <td class="cell-value">{{ item.value | ctfloat }}</td>
        <td class="cell-timestamp">{{ item.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
</div>
