<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarCtrl">
  <div class="container">
    <div class="navbar-header">
      <!--
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      -->
      <a class="navbar-brand" href="/ct/main/">Common Telemetry</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="section in sections"
            ng-class="{ active: active(section) }">
          <a href="/ct/main{{section.topicPrefix}}">{{ section.displayName }}</a>
        </li>
        <!--
        <li ng-class="{ active: isActive('/dashboard') }"><a href="#/dashboard">Dashboard</a></li>
        <li ng-class="{ active: isActive('/units/') }">
          <a href="#/units/actl">System browser</a>
        </li>
        <li ng-class="{ active: isActive('/interlocks') }">
          <a ng-cell="active-interlocks" href="#/interlocks" ng-class="{ 'active-interlocks': cell.value && cell.value.length }">Interlocks</a>
        </li>
        <li><a href="#/charts">Charts</a></li>
        <li><a href="#/logs">Logs</a></li>
        -->
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="current()">
        <li ng-class="{ active: !showingLog() }">
          <a href="/ct/main{{current().topicPrefix}}">Summary</a>
        </li>
        <li ng-class="{ active: showingLog() }">
          <a href="/ct/log{{current().topicPrefix}}">Log</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
